/* line 4, ../sass/app.scss */
.green {
  background-color: #4CBB17;
}

/* line 8, ../sass/app.scss */
.yellow {
  color: #000;
  background-color: #FFFFAA;
}

/* line 13, ../sass/app.scss */
.orange {
  background-color: #FF6600;
}

/* line 17, ../sass/app.scss */
.red {
  background-color: #FF0000;
}

/* line 21, ../sass/app.scss */
.hidden {
  display: none;
}

/* line 26, ../sass/app.scss */
.foodList .x-list-item {
  border: none !important;
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
}
/* line 32, ../sass/app.scss */
.foodList .x-list-item .list-item-checkbox {
  position: absolute;
  top: 1.15em;
  left: 1.15em;
}
/* line 38, ../sass/app.scss */
.foodList .x-list-item .list-item-name {
  position: absolute;
  top: 0;
  left: 2.8em;
}
/* line 44, ../sass/app.scss */
.foodList .x-list-item .list-item-expiry {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 3.5em;
  border: 1px solid #000;
  border-top: 0;
  overflow: hidden;
  text-align: center;
  line-height: 1.1em;
  padding-top: 0.35em;
  color: #000;
}
/* line 59, ../sass/app.scss */
.foodList .x-list-item .x-list-disclosure {
  /* position: absolute is inherited */
  bottom: 0.65em;
  left: 0.5em;
  top: initial;
}
/* line 65, ../sass/app.scss */
.foodList .x-list-item .x-list-disclosure:before {
  content: '#';
}

/* line 72, ../sass/app.scss */
.x-item-selected .list-item-title {
  color: #fff;
}
/* line 76, ../sass/app.scss */
.x-item-selected .list-item-narrative {
  color: #fff;
}

/* line 81, ../sass/app.scss */
.list-empty-text {
  padding: 10px;
}
